body{
    margin:0px;
}

#intro-part{
    padding: 0px 20px 100px 20px;
    background: #353535;
    font-family: 'Playfair Display', serif;
    color:#fff;
}

#intro-part span{
    font-size: 32px;
}

#intro-part nav{
    display: inline-flex;
    margin-top: 10px;
    float: right;
}

#intro-part li{
    list-style: none;
}

.home, .skill, .contact, .project, .about{
    text-decoration: none;
    margin-top: 7px;  
    margin-left: 30px;
    font-size: 20px;
    padding: 8px;
    border-radius: 7px;
    color: #fff;
    
}
#intro-part li a:hover{
    background: #ff7c7c;
    color:#000;
    font-size: 20px;    
    font-weight: 700;
}

.active{
    background: #ff6565;
    color:#fff;
    font-size: 20px;
}

#home-part {
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    align-items: center; 
    justify-content: space-evenly;
    flex-direction: row-reverse;
  }
  
  .name-card {
    float: right;
    margin-bottom: 20px; 
    line-height: 19px;
    align-items: end;
  }

    .name-card h3{
        color: #ff6565;
    }

    .name-card p{
        font-size: 18px;
    }

    .image-card {
        position: relative;
        width: 280px;
        height: 270px;
      }
      
      .img-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 42% 70% 98% 60%;
        background-color: #f9cbcb;
        z-index: 0;
      }
      
      .image-bg {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100%;
        height: 100%;
        border-radius: 50% 50% 34% 24%;
        background: salmon ;
        z-index: 1;
      }
      
      .myImg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 250px;
        height: 250px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        border: #fff 1mm dashed;
      }
      

  @keyframes bgRotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
  } 
  
@keyframes imgRotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }

  #about-box{
    background: #a8a8a8;
    color: white;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    box-shadow: 3px #353535;
    z-index: 0;
    border:#000 0.5mm solid;
    justify-content: center;    
    font-family: 'Playfair Display', serif;
  }
  #about-part {
    margin:10px;
  }
  .timeline {
    
  display: flex;
  justify-content: center;
  align-items: center;
    background: var(--primary-color);
    margin: auto;
    padding: 20px;    

  }
  
  /* Card container */
  .card {
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 450px;
    font-size: 16px;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid rgb(249, 64, 64);
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    background: #333;
    color: rgb(199, 199, 199);
    border-radius: 10px;
    padding: 10px;
  }
  
  /* Title of the card */
  .title {
    color: rgb(249, 64, 64);
    position: relative;
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid orangered;
  }
  
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: -45px;
  }